extends layout

block content
  h1 About

  img.mx-auto.d-block.rounded-circle.mb-3(src="me.jpg" alt="me" width="150" height="150")

  p.text-center.
    I'm Michael. I'm a self-taught computer programmer that #[a(href='/projects') creates stuff].

  .row
    .col-sm
      .card.h-100
        h5.card-header Programming Languages
          br
          small (coding / markdown)
        .card-body
          ul
            li Lua
            li HTML / CSS
            li JavaScript
            li Pug
            li TypeScript
    .col-sm
      .card.h-100
        h5.card-header Software
        .card-body
          ul
            li npm
            li Git
            li Visual Studio Code
    .col-sm
      .card.h-100
        h5.card-header Frameworks
        .card-body
          ul
            li Express.js
            li Bootstrap
            li jQuery
