<h1>About</h1>

<img class='mx-auto d-block rounded-circle mb-3' src="me.jpg" alt="me" width="150" height="150">
<p class='text-center'> I'm Michael. I'm a self-taught computer programmer that <a href='/projects'>creates stuff</a>.

<div class='row'>

  <div class='col-sm mb-2'>
    <div class='card h-100'>
      <h5 class='card-header'>Programming Languages
        <span class='h5'><small>(coding / markdown)</small></span>
      </h5>
      <div class='card-body'>
        <ul>
          <li>Lua</li>
          <li>HTML / CSS</li>
          <li>JavaScript</li>
          <li>Pug</li>
          <li>TypeScript</li>
        </ul>
      </div>

    </div>
  </div>

  <div class='col-sm mb-2'>
    <div class='card h-100'>
      <h5 class='card-header'>Software</h5>
      <div class='card-body'>
        <ul>
          <li>npm</li>
          <li>Git</li>
          <li>Visual Studio Code</li>
        </ul>
      </div>

    </div>
  </div>

  <div class='col-sm mb-2'>
    <div class='card h-100'>
      <h5 class='card-header'>Frameworks</h5>
      <div class='card-body'>
        <ul>
          <li>Express.js</li>
          <li>Bootstrap</li>
          <li>jQuery</li>
        </ul>
      </div>

    </div>
  </div>


</div>
