extends layout

block content
  h1 About
  p I'm Michael. I'm a self-taught computer programmer that 
    | <a href='/projects'>creates stuff</a>.

  h2 Skills

  h3 Programming Languages 
    small (coding/markdown)
  ul
    li Lua
    li HTML/CSS
    li JavaScript
    li Pug
    li TypeScript
  
  h3 Frameworks
  ul
    li Node.js
    li Express.js
    li Bootstrap
    li jQuery

  h3 Software
  ul
    li npm
    li Git
    li Visual Studio Code
