extends layout

block content

  -
    var strings = [
      'print("Hello, world!")',
      'a 700 year old coder',
      'part to terrain dude',
      '⬡',
      'console.log("Hello, world!")',
      'https://youtu.be/KMU0tzLwhbE',
      'a person',
      'a robot',
      'insert fun joke here',
      '"bro, can you hack this for me?"',
      'you misclicked and ended up on this site.'
    ]

    var picked = strings[Math.floor(Math.random() * strings.length)]
  .text-center.mt-5
    img(src="icon.png" width="250" height="250")

    p.h2.mb-2=picked

    .btn-group.btn-group-lg
      a.btn.btn-secondary(href='about') About
      a.btn.btn-secondary(href='blog') Blog
      //- a.btn.btn-secondary(href='Contact') Contact
      a.btn.btn-secondary(href='projects') Projects
