extends layout

block content

  -
    const strings = [
      'print("Hello, world!")',
      'a 700 year old coder',
      'part to terrain dude',
      '⬡',
      'console.log("Hello, world!")',
      'https://youtu.be/KMU0tzLwhbE',
      'a person',
      'a robot',
      'insert fun joke here',
      '"bro, can you hack this for me?"',
      'you misclicked and ended up on this site.',
      'working on fixing that bug',
      'breaking something',
      '@gitlost',
    ]

    const picked = strings[Math.floor(Math.random() * strings.length)]

  .text-center.mt-5
    img(src="icon.png" width="250" height="250")

    p.h2.mb-4=picked

    .btn-group.btn-group-lg
      a.btn.btn-outline-light(href='about') About
      a.btn.btn-outline-light(href='blog') Blog
      a.btn.btn-outline-light(href='contact') Contact
      a.btn.btn-outline-light(href='projects') Projects
