<div class='text-center mt-5'>
  <img src='icon.png' width='250' height="250">
  <br>

  <div class='btn-group btn-group-lg'>
    <a class='btn btn-outline-light' href="about">About</a>
    <a class='btn btn-outline-light' href="contact">Contact</a>
    <a class='btn btn-outline-light' href="projects">Projects</a>
  </div>
</div>
