extends layout

block content
  h1 Projects
  p Stuff that I've had a hand in making (and/or breaking).
  
  h2 Part to Terrain
  img(src="ptt.png" alt="Part to Terrain" width="150" height="150")
  p 2015-2019 - Part to Terrain is a plugin for the Roblox platform that allows users to convert parts into terrain with a mouse click. 
    | The plugin has been downloaded over 20k times and has been shown but not mentioned on  <a href="https://blog.roblox.com/2017/05/3-must-studio-plugins" target="_blank" rel="noopener noreferrer">Roblox's blog</a>.
  a(href="https://www.roblox.com/library/261634767/Part-to-Terrain" target="_blank" rel="noopener noreferrer") Download on Roblox
  span  &#8226; 
  a(href="https://github.com/mkargus/PartToTerrain" target="_blank" rel="noopener noreferrer") View on Github

  h2 Down the Road
  img(src="dtr.png" alt="Down the Road" width="150" height="150")
  p 2016 - A Roblox showcased created by <a href="https://twitter.com/AshCr4ft" target="_blank" rel="noopener noreferrer">AshCraft</a>. 
    | The showcase has been visited more than 29k times and has been featured on <a href="https://blog.roblox.com/2016/06/robloxians-share-their-stunning-showcases" target="_blank" rel="noopener noreferrer">Roblox's blog</a>.
  a(href="https://www.roblox.com/games/344053642" target="_blank" rel="noopener noreferrer") Play it here

  h2 Admin Madness
  p 2015 - A game created by a team for the Roblox Developers Conference East 2015's game jam in three hours with the theme being star. 
    | The game won as part of a three-way tie for 2nd place.
  a(href="https://www.roblox.com/games/263409228" target="_blank" rel="noopener noreferrer") Play it here
