@import url('https://fonts.googleapis.com/css?family=Roboto');

:root{
  --background: #212121;
  --text: #EEEEEE;
}

@media (prefers-color-scheme: light) {
  :root{
    --background: #EEEEEE;
    --text: #212121;
  }
  .logo{
    filter: invert(100);
  }
}

/* Override default elements */
body{
  background: var(--background);
  color: var(--text);
  font-family: 'Roboto', sans-serif;
}

hr{
  border: 0;
  padding-top: 5px
}

a{
  color: var(--text);
}

nav{
  position: absolute;
  top: 0;
  right: 25%;
  height: 50px;
  line-height: 50px;
}

@media (min-width: 576px) {
  body{
    width: 97%;
    margin: auto 10px;
  }
}
@media (min-width: 768px) {
  body{
    width: 50%;
    margin: auto;
  }
}

main:after{
    content: "";
    display: table;
    clear: both;
}

/* Main Content */
.blogTitle{
  margin-bottom: 1px
}

.column {
  float: left;
  width: 50%;
}

/* Footer */
footer{
  margin-bottom: 10px
}

footer a{
  text-decoration: none;
  border-bottom: 0px solid var(--text);
  font-size: 18px;
  transition: border linear 100ms
}

footer a:hover{
  border-bottom-width: 2px
}

footer span{
  margin: 0 5px
}
